

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
    font-family: Poppins-Regular;
  }
  
  @font-face {
    font-family: Poppins-Bold;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  body, html {
      height: 100%;
      font-family: sans-serif;
  }
  
  /* ------------------------------------ */
  a {
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  a:focus {
      outline: none !important;
  }
  
  a:hover {
      text-decoration: none;
  }
  
  /* ------------------------------------ */
  h1,h2,h3,h4,h5,h6 {margin: 0px;}
  
  p {margin: 0px;}
  
  ul, li {
      margin: 0px;
      list-style-type: none;
  }
  
  
  /* ------------------------------------ */
  input {
    display: block;
      outline: none;
      border: none !important;
  }
  
  textarea {
    display: block;
    outline: none;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  /* ------------------------------------ */
  button {
      outline: none !important;
      border: none;
      background: transparent;
  }
  
  button:hover {
      cursor: pointer;
  }
  
  iframe {
      border: none !important;
  }
  
  

  .limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-table100 {
    width: 100%;
    min-height: 100px;
    background: #ecf0f5;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
  }
  
  .wrap-table100 {
    width: 750px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .table {
    width: 100%;
    display: table;
    margin: 0;
    text-align: center !important;
  }
  

  
  .row {
    display: table-row;
    background: #fff;
  }
  
  .row.header {
    color: #ffffff;
    background: #2c3940;
  }
  
 
  
  .cell {
    display: table-cell;
  }
  
 
  .row .cell {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    font-weight: unset !important;
  
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
  }
  
  .row.header .cell {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;
  
    padding-top: 19px;
    padding-bottom: 19px;
  }
  
  .row .cell:nth-child(1) {
    width: 360px;
    padding-left: 40px;
  }
  
  .row .cell:nth-child(2) {
    width: 160px;
  }
  
  .row .cell:nth-child(3) {
    width: 250px;
  }
  
  .row .cell:nth-child(4) {
    width: 190px;
  }
  
  
  .table, .row {
    width: 100% !important;
  }
  
  .row:hover {
    background-color: #ddd;
    cursor: pointer;
  }
  
  .btn{
  
      display: inline-block;
      min-width: 110px;
      margin: 15px 5px;
      padding: 10px 15px 12px;
      font: 700 12px/1 'Open Sans', sans-serif;
      border-radius: 3px;
      box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
   
  }
  .backBtn{
    display: inline-block;
    min-width: 110px;
    margin: 15px 5px;
    padding: 10px 15px 12px;
    font: 700 12px/1 'Open Sans', sans-serif;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #777 !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    background: #f5f5f5;
  }
 